/* LOGO */
.logo img {
    height: 3rem; /* Altura del logo */
    width: auto; /* Mantiene proporción automática */
}

.navbar {
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    padding: 20px;
    font-family: Arial, sans-serif;
}

.menu {
    list-style: none;
    display: flex;
    gap: 40px;
    margin: 0;
    padding: 0;
}

.menu-item {
    position: relative;
    cursor: pointer;
    font-weight: bold;
    color: #2c3e50;
}

.menu-item a {
    text-decoration: none;
    color: #2c3e50;
}

.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #4caf50;
    padding: 10px 0;
    list-style: none;
    min-width: 200px;
    z-index: 100;
    border-radius: 4px;
}

.submenu li {
    padding: 10px 20px;
    color: white;
}

.submenu li a {
    color: white;
    text-decoration: none;
}

.menu-item:hover .submenu {
    display: block;
}

header {
    text-align: center;
    margin-top: 100px;
}

header h1 {
    font-size: 36px;
    color: #2c3e50;
    font-family: Montserrat;
}

header p {
    font-size: 18px;
    color: #2c3e50;
    font-family: Roboto;
}
